<article class="c-test-case">

    {{> test-case-header}}

    {{!-- Loop through each test section --}}
    {{#each this.sections}}
        <div class="c-test-case__section">

            {{!-- Section name --}}
            {{#if section-name}}
                <h2 class="heading heading--size-3x-large">{{ section-name }}</h2>
            {{/if}}
            {{!-- //Section name --}}

            {{!-- Loop through each test-case --}}
            {{#each this.tests}}

                {{!-- Selector(s) --}}
                <div class="l-container">
                    <div class="c-test-case__counter-master">
                        <div class="c-test-case__selector c-test-case__block">
                            <h3>
                                {{#if multiple-selectors}}
                                    {{{ selector }}}
                                {{else}}
                                    <code class="c-code-inline">{{ selector }}</code>
                                {{/if}}
                            </h3>
                        </div>
                    </div>
                </div>
                {{!-- //Selector(s) --}}

                {{!-- Description --}}
                <div class="l-container">
                    <div class="c-test-case__counter-slave">
                        <div class="c-test-case__test-description c-test-case__block">
                            <div>{{{ description }}}</div>
                        </div>
                    </div>
                </div>
                {{!-- //Description --}}

                {{!-- Run the test --}}
                <div class="c-test-case__test-run{{#if remove-legend}} c-test-case__test-run--no-bg{{/if}}">
                    {{#if remove-legend}}
                        {{{ run }}}
                    {{else}}
                        <div class="l-container">
                            {{{ run }}}
                        </div>
                    {{/if}}
                </div>
                {{!-- //Run the test --}}

                {{!-- Legend --}}
                {{#unless remove-legend}}
                    {{> test-case-legend}}
                {{/unless}}
                {{!-- //Legend --}}

            {{/each}}
            {{!-- //Loop through each test-case --}}

        </div>
    {{/each}}
    {{!-- //Loop through each test section --}}

</article>
