<article class="c-test-case" id="test-case-start">

    {{> test-case-header}}

    {{!-- Loop through each test section --}}
    {{#each this.sections}}
        <div class="c-test-case__section">

            {{!-- Section name and description --}}
            {{#if section-name}}
                <h2 class="c-test-case__section-heading heading heading--size-2x-large js-toc-section-heading">
                    {{{ section-name }}}
                </h2>
            {{/if}}
            {{#if section-description}}
                {{#if section-description-block}}
                    {{{ section-description }}}
                {{else}}
                    <p>{{ section-description }}</p>
                {{/if}}
            {{/if}}
            {{!-- //Section name and description --}}

            {{!-- Loop through each test-case --}}
            {{#each this.tests}}
                <div class="c-test-case">

                    {{!-- Selector(s) --}}
                    <div class="l-container">
                        <div class="c-test-case__counter-master">
                            <div class="c-test-case__selector c-test-case__block">
                                {{#if selector-block}}
    <pre class="c-code c-code--block"><code>{{{ selector }}}</code></pre>
                                {{else}}
                                    <code class="c-code">{{ selector }}</code>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{!-- //Selector(s) --}}

                    {{!-- Description --}}
                    <div class="l-container">
                        <div class="c-test-case__counter-slave">
                            <div class="c-test-case__test-description c-test-case__block">
                                <div>{{{ description }}}</div>
                            </div>
                        </div>
                    </div>
                    {{!-- //Description --}}

                    {{!-- Run the test --}}
                    {{#if remove-legend}}
                        <div class="l-container">
                            {{{ run }}}
                        </div>
                    {{else}}
                        <div class="c-test-case__test-run">
                            <div class="c-test-case__test-run-inner {{#if remove-test-subject-bg-color-from-container}}c-test-case__test-run-inner--remove-test-subject-bg{{/if}} {{#if apply-top-btm-padding-to-test-area}}c-test-case__test-run-inner--padding-ends{{/if}}">
                                {{{ run }}}
                            </div>
                        </div>
                    {{/if}}
                    {{!-- //Run the test --}}

                    {{!-- Legend --}}
                    {{#unless remove-legend}}
                        {{> test-case-legend}}
                    {{/unless}}
                    {{!-- //Legend --}}

                </div>

            {{/each}}
            {{!-- //Loop through each test-case --}}

            {{!-- Back to top anchor --}}
            <div class="c-test-case__back-to-top">
                <a href="#test-case-start">Back to top</a>
            </div>
            {{!-- //Back to top anchor --}}

        </div>
    {{/each}}
    {{!-- //Loop through each test section --}}

</article>
